#nav-cont a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	margin: 5px;
	background-color: #EEE;
}
#nav-cont a.current{
	background-color: #29f;
	color: #FFF;
}
#nav-cont a:hover{
	background-color: #222;
	color: #FFF;
	text-decoration: none;
}
pre{
	padding: 10px;
}
